.wrapper {
  @apply bg-blue-800
  relative
  w-full
  min-h-screen
  flex
  flex-col
  items-center
  justify-start;
}

.game {
  @apply mt-24
  relative;
}

.gameItem {
  @apply absolute;
}

.paper {
  @apply py-8
  px-9
  bg-white
  border-8
  rounded-full
  border-blue-300
  -top-16
  -left-8;
}

.scissors {
  @apply py-8
  px-9
  bg-white
  border-8
  rounded-full
  border-yellow-400
  -top-16
  -right-8;
}

.rock {
  @apply py-9
  px-9
  bg-white
  border-8
  rounded-full
  border-red-500
  -bottom-12
  left-20;
}

.footer {
  @apply absolute
  bottom-8
  md:right-8;
}

.rulesButton {
  @apply px-6
  py-1
  text-white
  border-white
  border-2
  rounded-md
  hover:bg-blue-900;
}

.modalContainer {
  @apply z-0
  absolute
  bg-gray-900
  bg-opacity-80
  w-full
  min-h-screen
  flex
  flex-col
  justify-center
  items-center;
}

.rulesModal {
  @apply bg-white
  p-8
  rounded-md;
}

.rulesModalHeader {
  @apply mb-10
  flex
  flex-row
  justify-between;
}

.modalClose {
  @apply cursor-pointer;
}

.modalTitle {
  @apply font-extrabold
  text-lg
  text-gray-700;
}

.gameResult {
  @apply flex
  flex-row
  flex-wrap
  md:flex-nowrap
  justify-between
  w-10/12
  md:w-2/3
  mt-10;
}

.resultPanel {
  @apply flex
  flex-col
  items-center;
}

.resultTitle {
  @apply text-white
  mt-5 mb-10
  font-extrabold
  text-lg;
}

.winnerPanel {
  @apply flex
  flex-col
  justify-center
  items-center
  opacity-0
  order-1
  md:order-none
  w-full
  md:w-auto
}

.winnerPanelShow {
  @apply transition-opacity
  duration-700
  opacity-100;
}

.replayButtonPanel {
  @apply mb-5;
}

.replayButton {
  @apply bg-white
  font-bold
  text-lg
  text-red-500
  rounded-md
  px-4
  py-1
  hover:text-red-900;
}
